.AboutPage {
  height: 100%;
  width: 90vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5vh 0vw;
  h1 {
    font-size: 7vh;
    margin: 0;
    b {
      background: linear-gradient(
        to right,
        rgb(1, 105, 150),
        rgb(140, 0, 255),
        rgb(240, 148, 2)
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  .AboutLgo {
    height: 45%;
  }

  .Text {
    width: 50%;
    display: flex;
    flex-direction: column;
    overflow: scroll;

    &::-webkit-scrollbar {
      width: 0px;

      height: 0px;
    }

    height: 100%;

    h1 {
      color: white;
    }

    h2,
    h3 {
      text-align: justify;
      margin: 0.8vh 0;
    }
    h2 {
      color: #e4dede;
    }
    h3 {
      margin-top: 2.5vh;
      font-size: 1.5vw;
      width: fit-content;
      background: linear-gradient(
        to right bottom,
        rgb(140, 0, 255),
        rgb(240, 148, 2)
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  video {
    height: 70%;
    transform: perspective(1500px) rotateY(-10deg);
    border-radius: 15px;
  }
}

.ServicesAbout {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: -2vh;
}

.ServiceCard:nth-child(3) {
  width: 28%;
}
.ServiceCard:nth-child(4) {
  width: 28%;
}

.ServiceCard:nth-child(5) {
  width: 30%;
}
.ServiceCard:nth-child(1) {
  width: 40%;
}
.ServiceCard:nth-child(2) {
  width: 50%;
}
.ServiceCard:nth-child(6) {
  width: 35%;
}
.ServiceCard:nth-child(7) {
  width: 55%;
}
.ServiceCard:nth-child(8) {
  width: 55%;
}

.ServiceCard {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: white;
  height: 7vh;
  margin: 2vh;
  padding: 0 1vw;
  border-radius: 10px;
  filter: drop-shadow(5px 5px 5px rgb(84, 79, 85));
  img {
    height: 4vh;
  }
}

.Faq {
  width: 40%;
  height: 100%;
  overflow: scroll;
  padding: 0 3vw;

  &::-webkit-scrollbar {
    width: 0px;

    height: 0px;
  }
}
.FAQsn {
  cursor: pointer;
  display: flex;
  position: relative;
  align-items: center;
  h1 {
    font-size: 3vh;
    font-family: "Poppins";
    color: #d8d8d8;
    font-weight: 800;
    position: absolute;
    right: 2vw;
  }
  background-color: white;
  padding: 1vh 3vw;
  margin: 2vh 0;
  border-radius: 10px;
  filter: drop-shadow(5px 5px 5px rgb(180, 173, 180));
  width: 100%;
  h2 {
    font-size: 3vh;
    color: #696868;
  }
  transition-duration: 0.5s;
  border: 1px solid transparent;

  &:hover {
    background-color: #f8f8f8;
    transition-duration: 1s;

    h1 {
      color: black;
    }
  }
}

.FAQAns {
  width: 55%;
  height: 100%;
  padding: 5vh;
  font-size: 3vh;
  text-align: justify;
  color: #696868;
  border-radius: 30px;
  background-color: rgb(255, 255, 255);
  filter: drop-shadow(5px 5px 5px rgb(180, 173, 180));
}

.qsntxtcolor {
  background: linear-gradient(
    to right,
    rgb(1, 105, 150),
    rgb(140, 0, 255),
    rgb(240, 148, 2)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.Contacts {
  justify-content: center;
  h3 {
    font-size: 3vh;
  }
  h2 {
    color: rgb(221, 218, 218) !important;
    font-weight: bolder;
  }

  img {
    height: 30vh;
  }

  .inputNewsletter {
    display: flex;
    align-items: center;
    width: 40vw;
    height: 5vh;

    input {
      border: 1px solid #e9e9e9;
      height: 4vh;
      outline: none;
      font-size: larger;
      font-family: "Syne";
      border-radius: 4px;
      width: 60%;
      margin: 2vh 1vw 0 0vh;
      padding: 1vh;
    }
    button {
      border: none;
      outline: none;
      height: 4.5vh;
      margin: 0;
      margin-bottom: -2vh;
      padding: 0.5vh 2vw;
      border-radius: 4px;
      font-family: "Syne";
      font-size: larger;
      background-color: rgb(93, 8, 179);
      color: rgb(255, 255, 255);
      cursor: pointer;

      &:hover {
        background-color: rgb(62, 4, 121);
      }
    }
  }
}

.LoginMe {
  transition-duration: 1s;
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(92, 89, 89, 0.655);
  margin: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 900;
}

.LoginModal {
  width: 60vw;
  height: 70vh;
  overflow: hidden;

  border-radius: 2vh;
  background-color: rgb(255, 255, 255);

  backdrop-filter: blur(1rem);

  .Login {
    display: flex;
    height: 100%;

    .InputBox {
      width: 100%;
      margin: 1vh;
      display: flex;
      justify-content: center;
      align-items: center;
      input,
      select {
        border: 1px transparent solid;
        height: 4.5vh;
        width: 80%;
        padding: 1vh;
        font-family: "Syne";
        background-color: #bebcbc58;
        border-radius: 5px;
        font-weight: bold;
        font-size: large;

        &:focus {
          outline: none;
          border: 1px rgb(85, 0, 128) solid;
        }
      }
      .OTP {
        background-color: white;
        text-align: center;
        font-size: 3vw;
        height: fit-content;
        letter-spacing: 0.4cm;
        font-family: "Poppins";
        color: #838181;
        &:focus {
          outline: none;
          border: 1px rgb(255, 255, 255) solid;
        }
      }
      select {
        color: #7a7a7a;
      }
    }

    .Log,
    .Sign {
      background-color: white;
      form {
        width: 100%;
        margin: 0;
      }
      width: 50%;
      height: 100%;

      padding: 5vh 3vw;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      h1 {
        font-size: 5vh;
      }

      h3 {
        color: #545454;
        font-weight: lighter;
        cursor: pointer;
      }
      transition-duration: 1s;
    }
    .Log {
      position: absolute;
      left: 0;
      transform: translateZ(0vh);
      overflow: hidden;
    }
    .LoginButton {
      cursor: pointer;
      border: none;
      padding: 1vh;
      font-size: large;
      width: 80%;
      border-radius: 5px;
      color: white;
      margin: 2vh;
      background: linear-gradient(to right, rgb(1, 105, 150), rgb(142, 5, 163));
    }
    .Sign {
      position: absolute;
      right: 0;
      border-radius: 0vh 2vh 2vh 0vh;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 200%;
      img {
        height: 60%;
      }
    }
  }
}

.ModalCloseButton {
  cursor: pointer;
  position: absolute;
  top: -1vh;
  right: 1vw;
  background-color: rgb(163, 160, 161);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  color: white;
}

* {
  font-family: "Syne";
}
