.MainHolder {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  overflow: hidden;
  overflow-x: hidden;
  background-color: #030007;
}

.Page {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  // overflow: hidden;
}

.NavBar {
  height: 15vh;
  width: 95%;
  #fullLogo {
    height: 10vh;
    margin-left: -2%;
  }

  display: flex;
  align-items: center;
  justify-content: space-between;
  ul {
    width: 40%;
    list-style: none;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;

    li {
      font-size: large;
      font-weight: bold;
      font-family: "Advent Pro";
      transition-duration: 0.2s;
      color: #777575;
      &:hover {
        color: rgb(235, 168, 12);
        transition-duration: 0.3s;
      }
    }
  }

  .login {
    width: 15%;
  }

  .navs li:hover {
    color: rgb(240, 128, 0);
    transform: scale(1.1);
    transition: all ease-in-out;
    transition-duration: 0.3s;
  }
  .navs li:before {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 1.2rem;
    font-weight: 800;
    display: inline-block;
    cursor: pointer;
    transition-duration: 0.3s;
    content: "";
    position: absolute;
    background: linear-gradient(
      to right,
      rgb(1, 105, 150),
      rgb(134, 0, 243),
      rgb(240, 148, 2)
    );
    width: 140%;
    height: 2px;
    border-radius: 100px;
    bottom: -10px;
    right: -20%;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s;
  }
  ul li:hover::before {
    transform: scaleX(1);
    transform-origin: left;
  }
}

.Sign {
  background-image: url("../res/yo.gif");
  background-size: contain;
  width: 50%;
  height: 100%;
  background-color: red;
}

#SignMenu {
  cursor: pointer;
  width: fit-content;
  font-size: 2.3vh;
  padding: 1vh 1vw;
  color: white;
  border-radius: 5px;
  width: 92%;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  transform: perspective(800px) rotateY(-30deg);
  transition-duration: 0.2s;
  background: linear-gradient(to right, rgb(1, 105, 150), rgb(142, 5, 163));

  &:hover {
    transform: perspective(400px) rotateY(-30deg) scale(1.2);
    background: linear-gradient(to right, rgb(1, 81, 116), rgb(131, 34, 211));
    transition-duration: 0.2s;
  }
}

#resMenu {
  height: 4vh;
  display: none;
  position: absolute;
  top: 2vh;
  right: 2vh;
  transform: rotate(180deg);
  transition-duration: 4s;
  opacity: 1;
  z-index: 5;
}
.ResponsiveMenu {
  z-index: 5;

  height: 100vh;
  background-color: rgba(236, 234, 234, 0.814);
  backdrop-filter: blur(0.5rem);
  width: 70vw;
  position: absolute;
  right: 0;
  padding: 5vh 5vw;
  transform: translateX(70vw);
  transition-duration: 1s;
  #resMenu {
    height: 4vh;
    display: block;
    position: absolute;
    left: 4vw;
    transition-duration: 1s;
  }
}

a {
  text-decoration: none;
}

.PageModal {
  display: flex;
  justify-content: center;
  transition-duration: 2s;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 15vh;
  height: 70vh;
}

.BackImageMake {
  z-index: 0;
  transition-duration: 1s;
  position: absolute;
  height: 70vh;
  width: 50vw;
  top: 0vh;
  left: 15vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  .Inn {
    width: 22%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    .Img2 {
      height: 43%;
      filter: brightness(0.5);

      width: 100%;
      background-size: cover;
      background-image: url("./BackRes/5.jpg");
    }
    .Img3 {
      height: 55%;
      width: 100%;
      filter: brightness(0.8);

      background-size: cover;
      background-image: url("./BackRes/4.jpg");
    }
  }
  .Img1 {
    height: 60%;
    width: 25%;
    filter: brightness(0.8);

    background-size: cover;
    background-image: url("./BackRes/3.jpg");
  }

  .Img4 {
    height: 80%;
    width: 28%;
    filter: brightness(0.8);

    background-size: cover;
    background-image: url("./BackRes/1.jpg");
  }
  .Img5 {
    height: 50%;
    margin-top: 15%;
    filter: brightness(0.8);
    width: 22%;
    background-size: cover;
    background-image: url("./BackRes/2.jpg");
  }
}

.OncomingHead {
  z-index: 1;
  background: linear-gradient(
    to right,
    rgba(126, 123, 123, 0.786),
    rgba(255, 255, 255, 0.979),
    rgba(126, 123, 123, 0.786)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 10vw;
  margin: 0;
  margin-top: 0;
}

.OncomingSubHead {
  z-index: 1;

  margin: 0;
  font-size: 5vw;
  color: rgb(245, 245, 245);
}

.Heads {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.landingfooter {
  position: fixed;
  bottom: 0;
  width: 100vw;
}

.ModalChanger,
.ModalChanger2 {
  position: fixed;
  bottom: 5vh;
  display: inline-block;

  right: 2vw;
  text-align: right;
  font-family: "Poppins";
  cursor: pointer;
  color: purple;
  background: linear-gradient(
    to right,
    rgb(1, 105, 150),
    rgb(140, 0, 255) 50%,
    rgb(240, 148, 2) 50%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
  width: fit-content;
  padding: 0 5vh;
  font-weight: 800;
  transition-duration: 1s;
  font-size: large;
  // transform: perspective(800px) rotateY(-50deg);
  &:hover {
    transition-duration: 1s;
    background-position: 0 100%;
  }
}

.ModalChanger2 {
  left: 2vw;
  text-align: left;
  // transform: perspective(800px) rotateY(50deg);
}

@media screen and (max-width: 1024px) {
  .NavBar {
    display: none;
  }
  #resMenu {
    height: 4vh;
    display: block;
  }

  .BackImageMake {
    width: 60vw;
    left: 10vw;
  }
  .Heads {
    top: 40vh;
  }
  .ModalChanger,
  .ModalChanger2 {
    font-size: medium;
  }
}
